.BandContainer {
    
}

.OwnedBandsContainer {
    padding-left:20%;
    padding-right:20%;
    padding-bottom: 20px;
}

.OwnedBandsTitle {
    text-align: center;
}

.ViewCalendarButton {
    text-align: right;
}